name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: Build
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - name: Check flake
      run: nix flake check
    - name: Check format
      run: nix fmt -- --check .
    - name: Run statix
      run: nix run nixpkgs#statix -- check .
    - name: Build configuration
      run: nix build .#darwinConfigurations.cappyzawa.system --dry-run
  status-check:
    runs-on: ubuntu-latest
    needs:
    - build
    permissions: {}
    if: failure()
    steps:
    - run: exit 1
  enable-auto-merge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    if: |
      github.event_name == 'pull_request' && github.event.pull_request.user.login == 'renovate[bot]' && contains(github.event.pull_request.body, ' **Automerge**: Enabled.')
    steps:
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@v2.1.0
      with:
        app_id: ${{secrets.GH_APP_ID}}
        private_key: ${{secrets.GH_APP_PRIVATE_KEY}}
    - run: gh -R "$GITHUB_REPOSITORY" pr merge --squash --auto --delete-branch "$PR_NUMBER"
      env:
        GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}
        PR_NUMBER: ${{github.event.pull_request.number}}
