name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: Build
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - name: Check flake
      run: nix flake check
    - name: Check format
      run: nix fmt -- --ci
    - name: Run statix
      run: nix run nixpkgs#statix -- check .
    - name: Build configuration
      run: nix build .#darwinConfigurations.cappyzawa.system --dry-run
  status-check:
    runs-on: ubuntu-latest
    needs:
    - build
    permissions: {}
    if: failure()
    steps:
    - run: exit 1
